.bottomBar
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 999
  .bar
    padding: 0
    background: $pink
    max-width: 768px
    margin: auto
    list-style: none
    li
      text-align: center
      &.active
        a
          background: $link_home_active
      a
        display: block
        padding: 15px 0
        cursor: pointer
        i
          +font-size(3)
          color: $white
          background-size: cover
          img
            opacity: 0
            visibility: hidden
            display: block
            @media #{$xxs}
              max-width: 30px
              max-height: 30px

