.commentsHolder
  padding: 20px
  .userComments
    display: block
    width: 100%
    list-style: none
    margin: 0
    padding: 0
    margin-bottom: 100px
    .singleComment
      margin-bottom: 20px
      .profile
        width: 80px
        vertical-align: top
        img
          max-width: 60px
          +border-radius(50%)
      .userComment
        vertical-align: top
        +font-size(1.8)
        color: $f_color
        .userName
          color: $link_blue
          font-weight: bold
  .addComment
    position: fixed
    bottom: 0
    left: 0
    right: 0
    .addCommentHolder
      max-width: 768px
      margin: auto
      background: $white
      padding: 0 0 0 20px
      border-top: 1px solid $b_gray
      position: relative
      .inputHolder
        padding: 15px 0
        position: relative
        @media #{$xxs}
          padding: 14px 0
        input
          background: transparent
          border: 0
          outline: 0
          border-left: 1px solid $b_gray
          color: $f_color_mid
          width: 100%
          +font-size(2)
          padding: 10px 15px
          &::-webkit-input-placeholder
            color: $f_color_mid
          &:-moz-placeholder
            color: $f_color_mid
          &::-moz-placeholder
            color: $f_color_mid
          &:-ms-input-placeholder
            color: $f_color_mid
          @media #{$xxs}
            +font-size(1.8)
            padding: 5px 15px
      .buttonHolder
        text-align: right
        .btn
          padding: 0
          position: absolute
          min-width: 100px
          top: 0
          bottom: 0
          right: 0
          background: $pink_other
          border: 0
          outline: 0
          +border-radius(0)
          img
            @media #{$xxs}
              max-width: 30px
              max-height: 30px
