body
  background: #eee
  font-family: $f_mon

.table
  display: table
  width: 100%
  margin-bottom: 0
  .cell
    display: table-cell
    vertical-align: middle

.appContainer
  max-width: 768px
  margin: auto
  background: #ffffff
  position: relative
  .home
    margin-bottom: 80px
    min-height: 100vh
  .search
    height: 100vh
