.icon
  display: inline-block
  background-position: center center
  background-size: cover
  img
    opacity: 0
    visibility: hidden
  &.i-home
    background-image: url("../img/icon_home.png")
  &.i-heart
    background-image: url("../img/icon_heart.png")
  &.i-camera
    background-image: url("../img/icon_camera.png")
  &.i-user
    background-image: url("../img/icon_user.png")
  &.i-search
    background-image: url("../img/icon_search.png")
  &.i-arrow
    background-image: url("../img/icon_arrow.png")
  &.i-close
    background-image: url("../img/icon_close.png")

