.products
  display: block
  list-style: none
  margin: 0
  padding: 0
  .product
    border-bottom: 1px solid $b_gray
    margin-top: auto

.product
  display: block
  margin-top: 80px
  @media #{$xxs}
    margin-top: 64px
  .topNavbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 9999999
    .navBarHolder
      max-width: 768px
      margin: auto
      background: $orange
      height: 80px
      position: relative
      @media #{$xxs}
        height: 64px
      h4
        text-align: center
        +font-size(2.4)
        font-weight: bold
        color: $white
        margin: 0
        padding: 22px 0
        @media #{$xxs}
          +font-size(2)
          padding: 17px 0
      .back
        position: absolute
        left: 0
        top: 0
        bottom: 0
        a
          padding: 0px 25px 0px 20px
          display: table
          height: 100%
          .iconHolder
            display: table-cell
            vertical-align: middle
        i
          color: $white
          font-size: 46px
  .userDetails
    padding: 10px 20px
    //display: block
    width: 100%
    .profile
      .image
        display: inline-block
        margin-right: 20px
        img
          max-width: 60px
          width: 100%
          +border-radius(50%)
      .name
        display: inline-block
        +font-size(1.8)
        font-weight: bold
        color: $link_blue
    .distance
      +font-size(1.8)
      text-align: right
      color: $f_color_mid
  .productDetails
    display: block
    width: 100%
    .productImageHolder
      display: block
      background-size: cover
      background-position: center
      position: relative
      a
        display: block
      img
        opacity: 0
        visibility: hidden
        width: 100%
      .details
        position: absolute
        bottom: 0
        width: 100%
        padding: 20px
        .textDetails
          float: left
          h3,.price
            text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5)
            font-size: 24px
            margin-bottom: 0
            color: $white
          .price
            font-weight: bold
        .actionHolder
          position: absolute
          right: 20px
          bottom: 20px
          span
            cursor: pointer
            padding: 0 10px
            &:last-child
              padding-right: 0
            i
              +font-size(2.8)
              color: $white
    .productInteractions
      display: block
      width: 100%
      padding: 20px
      .likeCount
        color: $link_blue
        padding-bottom: 20px
        i
          +font-size(2.8)
          vertical-align: middle
        span
          +font-size(1.8)
          line-height: 4.2rem !important
          font-weight: bold
          vertical-align: middle
          margin-left: 10px
      .description
        +font-size(1.8)
        color: $f_color
      .commentsCount
        display: block
        width: 100%
        +font-size(1.8)
        color: $f_color_light
        padding-top: 20px
        &:hover
          text-decoration: none

  .imageSlider
    position: absolute !important
    top: 0
    bottom: 0
    left: 0
    right: 0
    img
      opacity: 1 !important
      visibility: visible !important
//
//.image
//  width: 100%
//  padding: 0
//  list-style: none
//  margin: 0
//  li
//    img
//      width: 100%
