.search
  z-index: 999
  position: fixed
  top: 0
  bottom: 0
  right: 0 
  left: 0
  .searchContainer
    max-width: 768px
    margin: auto
    position: relative
    .searchHolder
      position: absolute
      left: 0
      right: 0
      height: 100vh
      background-image: -ms-linear-gradient(top, #FE7561 0%, #fe5377 100%)
      background-image: -moz-linear-gradient(top, #FE7561 0%, #fe5377 100%)
      background-image: -o-linear-gradient(top, #FE7561 0%, #fe5377 100%)
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FE7561), color-stop(100, #fe5377))
      background-image: -webkit-linear-gradient(top, #FE7561 0%, #fe5377 100%)
      background-image: linear-gradient(to bottom, #FE7561 0%, #fe5377 100%)
      overflow-y: scroll
      .scrollHolder
        margin-bottom: 80px
      
  .queryInputHolder
    width: 90%
    margin: auto
    margin-top: 50px
    input
      background: transparent
      border: 0
      outline: 0
      border-bottom: 1px solid $b_pink
      color: $white
      width: 100%
      +font-size(2.6)
      padding: 5px 15px
      &::-webkit-input-placeholder
        color: $b_pink
      &:-moz-placeholder
        color: $b_pink
      &::-moz-placeholder
        color: $b_pink
      &:-ms-input-placeholder
        color: $b_pink
  .sliderHolder
    width: 90%
    margin: auto
    margin-top: 60px
    margin-bottom: 90px
    text-align: center
    .searchWithin
      color: $white
      +font-size(1.8)
    .sliderElem
      position: relative
  .trending
    width: 90%
    margin: auto
    margin-top: 30px
    border-top: 1px solid $b_pink_dark
    span
      display: inline-block
      background: $link_blue
      color: $white
      padding: 5px 20px
      +border-radius(19px)
      +font-size(1.8)
      margin-bottom: 10px
      line-height: 2.8rem !important
    h3
      +font-size(1.8)
      text-align: center
      margin-bottom: 20px
      font-weight: bold
      color: $white
      text-transform: uppercase



