<div class="home">
    <search ng-show="$root.searchTrigger"/>
    <ul class="products">
        <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="1">
            <li class="product" ng-repeat="product in products track by $index">
                <div class="userDetails table">
                    <div class="profile cell">
                        <div class="image"><img ng-src="img/{{ product.user.profile_pic }}" alt=""></div>
                        <div class="name">{{ product.user.username }}</div>
                    </div>
                    <span class="distance cell"><strong>500</strong> away</span>
                </div>
                <div class="productDetails">
                    <div class="productImageHolder" style="background-image: url(img/{{ product.images[0] }})">
                        <a ui-sref="product({ id : product.id })">
                            <img src="img/product_bg_holder.png" alt="">
                        </a>
                        <div class="details">
                            <div class="textDetails">
                                <h3>{{ product.title }}</h3>
                                <span class="price">{{ product.currency_code }} {{ product.price }}</span>
                            </div>
                            <div class="actionHolder">
                            <span class="share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </span>
                                <span class="like" ng-click="like(product.id)">
                                <i class="fa fa-heart-o"  aria-hidden="true"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="productInteractions">
                        <div class="likeCount">
                            <i class="fa fa fa-heart"></i>
                            <span>{{ product.likes.length }} likes</span>
                        </div>
                        <div class="description">
                            {{ product.description }}
                        </div>
                        <a ui-sref="product({ id : product.id })" class="commentsCount">
                            view {{ product.comments.length }} comments
                        </a>
                    </div>
                </div>
            </li>
        </div>
    </ul>
    <bar/>
</div>