<div class="product">
    <div class="topNavbar">
        <div class="navBarHolder">
            <h4>Photos</h4>
            <div class="back">
                <a  ui-sref="home">
                    <div class="iconHolder">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="userDetails table">
        <div class="profile cell">
            <div class="image"><img ng-src="img/{{ product.user.profile_pic }}" alt=""></div>
            <div class="name">{{ product.user.username }}</div>
        </div>
        <span class="distance cell"><strong>500</strong> away</span>
    </div>
    <div class="productDetails">
        <div class="productImageHolder" style="">
            <ul rn-carousel class="image imageSlider">
                <li ng-repeat="image in product.images">
                    <div class="layer">
                        <img ng-src="img/{{ image }}" alt="">
                    </div>
                </li>
            </ul>
            <img src="img/product_bg_holder.png" alt="">
            <div class="details">
                <div class="textDetails">
                    <h3>{{ product.title }}</h3>
                    <span class="price">{{ product.currency_code }} {{ product.price }}</span>
                </div>
                <div class="actionHolder">
                            <span class="share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </span>
                    <span class="like" ng-click="like(product.id)">
                                <i class="fa fa-heart-o"  aria-hidden="true"></i>
                            </span>
                </div>
            </div>
        </div>
        <div class="productInteractions">
            <div class="likeCount">
                <i class="fa fa fa-heart"></i>
                <span>{{ product.likes.length }} likes</span>
            </div>
            <div class="description">
                {{ product.description }}
            </div>
        </div>
        <comment product="product.id"/>
    </div>
</div>

