<div class="search">
    <div class="searchContainer">
        <div class="searchHolder">
            <div class="scrollHolder">
                <div class="queryInputHolder">
                    <input type="text" placeholder="What are you looking for?">
                </div>
                <div class="sliderHolder">
                <span class="searchWithin">
                    Search within <b>{{ searchWithin }}km</b>
                </span>
                    <div class="sliderElem">
                        <input slider ng-model="searchWithin"/>
                    </div>
                </div>
                <div class="trending">
                    <h3>Trending Search</h3>
                    <span>#hammock</span>
                    <span>#iceberg</span>
                    <span>#hammock</span>
                    <span>#isesf</span>
                    <span>#cat</span>
                    <span>#testH</span>
                </div>
            </div>
        </div>
    </div>
</div>